<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Estudios</title>
	<link rel="stylesheet" href="../css/estilo.css">
</head>
<body>
	<!-- fila de logo + nav --> 
	<header>
		<img src="../assets/img/logo png.png" alt="logo">
		<nav>
			<ul>
                <li class="nav--item nav--item--color"><a href="../index.html">Home</a></li>
				<li class="nav--item nav--item--color"><a href="../views/proyectos.html">Proyectos</a></li>
				<li class="nav--item nav--item--color"><a href="../views/habilidades.html">Habilidades</a></li>
				<li class="nav--item nav--item--color"><a href="../views/estudios.html">Estudios</a></li>
				<li class="nav--item nav--item--color"><a href="../views/contacto.html">Contacto</a></li>
				<li class="nav--item nav--item--color"><a href="https://www.google.com" target="_blank">Google</a></li>
			</ul>
		</nav>
	</header>
	<!-- cierre de fila logo + nav -->
	<!-- fila de información de mi sitio -->
	<section>
		<article>
			<h2 class="articulostitulo">Estudios</h2>
			<h1 class="articulos">Secundario 
“La Salle Jobson Santa Fe”</h1>
<h1 class="articulos">Terciario 
“Diseño digital en IES Santa Fe”</h1>
<h1 class="articulos">Cursos
“Desarrollo UX/UI en Coderhouse” </h1>
		</article>
	</section>
	<!-- inicio de footer --> 
	<footer>
		<h2 class="footer--encabezado">Contacto</h2>
		<a href="https://www.behance.net/gianfranco6"><img src="../assets/img/contacto.png" width="100" height="100" alt="contacto"></a>
</body>
</html>